body { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; }

.navbar { 
    border: 3px solid;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 10vh;
    background-color: cadetblue;
} 

.logo { 
    padding: 0 5rem; 
    display: flex;
    align-items: center;
    height: 100%;
    width: auto ;
} 

.logo .logo-heading { 
    color: #fff; 
} 

.logo-heading{
    margin-left: 5%;
}

.menu { 
    padding: 0 5rem; 
} 

.menu .menu-list { 
	display: flex; 
	list-style: none; 
} 

.menu-list .menu-list-items { 
    padding: 0.5rem 1rem; 
} 
.menu{
    font-size: 18px;
    color: black;
}